<launch>
  <env name = "GSCAM_CONFIG" value = "v4l2src device=/dev/video0 !
    video/x-raw-rgb,framerate=30/1 ! ffmpegcolorspace" />
  <node pkg = "gscam" type = "gscam" name = "web_cam">
    <param name = "camera_name" value = "web_cam" />
    <remap from = "camera/image_raw" to = "camera/visible/image" />
  </node>
  <node pkg = "rqt_image_view" type = "rqt_image_view" name = "raw_image" />
  <node pkg = "beerbot" type = "facerec" name = "facerec" output = "screen" />
  <node pkg = "beerbot" type = "template_matching_node" name = "template_matching_node" output = "screen" />

</launch>
